@media (min-width: 990px) {

    .main{
        background-color: rgb(24, 21, 132);
        color: white;
        height: 110px;

    }

    .logo
    {  padding-left: 10%;
        padding-top: 30px;
        height: 100px;
        font-size: 35px;
    }

    .main1
    {
      background-color: rgb(244, 239, 239);
    }


    .login
    {

        padding-top: 19px;
        padding-left: 5px;
        border-left-width: 5px;

    }

    .bodyclass
    {
       background-color: #E1E3E8;
    }

          .images
      {
        font-size: 18px;
        padding-top: 50px;
        padding-left: 50px;
      }

      .form-control
      {
        display: block;
        width: 100%;
        height: 28px;
        padding: 6px 12px;
        font-size: 15px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0px;
      }

      .images1
      {
        
          padding-left: 62px;
        padding-top: 20px;
        margin: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .images2
      {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 25px;
      }

      .images3
      {
          margin-top: -6px;
        margin-bottom: 0px;
        font-size: 15px;
      }

      .images4
      {
        border: 0;
        width: 475px;
        height: 215px;
        padding-top: 19px;
      }

      .formfeed
      {
        padding-top: 15px;
        padding-left: 60px;
        border-color: #rgb(187, 183, 211);

      }

      .formfeed1
      {
          display: block;
        width: 100%;
        height: 35px;
        padding: 4px 12px;
        font-size: 18px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .hello5
      {
        margin: 0px;
      }

      .idea1
      {
          width: 200px;
        border-radius: 5px;
        background-color: #409E40;
      }

      .keep
      {
          margin-top: 10px;
          margin-right: 8px;
      }

      .optbtn
      {
      font-size: 12px;
        line-height: 0;
        margin-top: 10px;
        padding-right: 0px;
      }

      .hello
      {
        margin: 0px;
      }


      .labels 
      {
          font-weight: normal;
          display: block;
      }

      .btn-info 
      {
          background-color: #2E88A3;
          border: 1px solid #2E88A3;
          height: 28px;
      }



}



@media (min-width: 1200px) {

    .main{
        background-color: rgb(24, 21, 132);
        color: white;
        height: 110px;

    }

    .logo
    {  padding-left: 10%;
        padding-top: 30px;
        height: 100px;
        font-size: 35px;
    }

    .main1
    {
      background-color: rgb(244, 239, 239);
    }


    .login
    {

        padding-top: 19px;
        padding-left: 5px;
        border-left-width: 5px;

    }

    .bodyclass
    {
       background-color: #E1E3E8;
    }

          .images
      {
        font-size: 18px;
        padding-top: 50px;
        padding-left: 50px;
      }

      .form-control
      {
        display: block;
        width: 100%;
        height: 28px;
        padding: 6px 12px;
        font-size: 15px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0px;
      }

      .images1
      {
        
          padding-left: 62px;
        padding-top: 20px;
        margin: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .images2
      {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .images3
      {
          margin-top: -6px;
        margin-bottom: 0px;
      }

      .images4
      {
        border: 0;
        width: 600px;
        height: 250px;
        padding-top: 19px;
      }

      .formfeed
      {
        padding-top: 15px;
        padding-left: 60px;
        border-color: #rgb(187, 183, 211);

      }

      .formfeed1
      {
          display: block;
        width: 100%;
        height: 35px;
        padding: 4px 12px;
        font-size: 18px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .hello5
      {
        margin: 0px;
      }

      .idea1
      {
          width: 200px;
        border-radius: 5px;
        background-color: #409E40;
      }

      .keep
      {
          margin-top: 10px;
          margin-right: 8px;
      }

      .optbtn
      {
      font-size: 12px;
        line-height: 0;
        margin-top: 10px;
        padding-right: 0px;
      }

      .hello
      {
        margin: 0px;
      }


      .labels 
      {
          font-weight: normal;
          display: block;
      }

      .btn-info 
      {
          background-color: #2E88A3;
          border: 1px solid #2E88A3;
          height: 28px;
      }



}
















