 {
    color: #ec971f;
    background: blue;

}

@media (min-width: 768px) {
    

    p {
        color: #00f;
    }
}

@media (min-width: 992px) {
    p {
        color: #0f0;
    }
}

@media (min-width: 1200px) {
    
    .main{
    background-color: rgb(24, 21, 132);
  color: white;
  
  }

.logo
{  padding-left: 10%;
  padding-top: 30px;
  height: 100px;
  font-size: 35px;
}

.login
{

  padding-top: 19px;
  padding-left: 5pxpx;
  border-left-width: 5px;
}

}
