.mybody
{
	margin: 0px;
}

.main-nav 
{
	
  	list-style-type: none;
  	margin: 0;
  	padding: 15px;
  	text-align: center;
  	text-decoration: none;
  	
  	
  }

  .main-nav li
  {
  	display: inline-block;
  	position: relative;
  }

  .sub-nav
  {
  	list-style-type: none;
  	margin: 0;
  	padding: 15px;
  	text-align: center;
  	text-decoration: none;
  	display: none;	
  	position: absolute;
  }

  .main-nav > li:hover > .sub-nav 
  {
  	display: block;
  }

