.main-nav 
{
	background-color: aqua;
  	font-size: 20px;
  	display: inline;
  	text-decoration: none;
  	list-style-type: none;
}

.main-nav li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
